/* nejsme vcerejsi, pouzivame moderni box model */
html { box-sizing: border-box; }
*, :after, :before { box-sizing: inherit; }

body {
	margin: 0;
	font-family: 'Source Sans Pro', sans-serif;
	color: white;
}

.paticka {
	text-align: center;
	font-size: 14px;
	color: silver;
}

.paticka a {
	color: silver;
}

/* -------------------------------------------------- */

/*
Responzivní breakpointy:
Mobil:		0 - 479px
Tablet:		480px - 859px
Počítač:	860px a víc

Chrome a některé další prohlížeče nejdou zmenšit pod určitou šířku, takže je možné, že ti nepůjde zmenšit tolik, aby se aktivovala mobilní verze. Pokud se ti to stane, změň si v kódu hranici mezi mobilem a tabletem třeba na 600px, nebo aktivuj v prohlížeči vývojářské nástroje s mobilním náhledem, kde může nastavovat jakoukoliv velikost (i malou).

Obrázky pro jednotlivé recepty jsou ve složce images.
Nastav je receptům jako obrázky na pozadí (tj. nepřidávej je jako <img> do HTML)

Na rozložení prvků NEPOUŽÍVEJ absolutní pozicování, ale pouze flexboxy.
Flexboxy mohou být vnořené do sebe, klidně několikrát.
*/


/* společné, mobil  */

.card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 10px;
	min-height: 90px;
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;


	margin-bottom: 2px;
}

.top {
	display: flex;
	justify-content: space-between;
	font-size: 14px;
}

.bottom {
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
}

.big {
	font-size: 28px;
}

.main {
	min-height: 200px;
}

.burger {
	background-image: url(images/burger.jpg);
}

.cizrna {
	background-image: url(images/cizrna.jpg);
}

.chlebicek {
	background-image: url(images/chlebicek.jpg);
}

.salat {
	background-image: url(images/salat.jpg);
}

.tacos {
	background-image: url(images/tacos.jpg);
}


/* tablet  */
@media screen and (min-width:540px) {

	.card {
		margin-bottom: 0;
		min-height: 150px;
		padding: 20px;
		flex: 1 1 40%;
	}

	.container {
		display: flex;
		flex-wrap: wrap;
		gap: 2px;
	}

	.bottom {
		font-size: 22px;
	}

	.big {
		font-size: 36px;
	}

	.main {
		min-height: 250px;
		flex: 1 1 100%;
	}

	.recept {
		margin-bottom: 2px;
	}

}

/* pocitac */
@media screen and (min-width: 1000px) {

	.card {
		min-height: 200px;
	}

	.bottom {
		font-size: 28px;
	}

	.big {
		font-size: 48px;
	}

	.main {
		min-height: 400px;
	}

	.recept {
		margin-bottom: 0;
		flex: 1 1 50%;
	}

	.vse {
		display: flex;
		gap: 2px;
		min-height: calc(100% + 2px);
	}

}
